<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>О проекте</title>
  <link rel='stylesheet' href='/css/styles.css'>
  <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico" />
</head>
<body>
<div class="topnav">
  <div>
    <a class="active" href="/">Главная</a>
    <a href="/waiting">Игра</a>
    <a href="/rating">Рейтинг</a>
    <a href="/profile">Профиль</a>
    <a href="/about">О проекте</a>
  </div>
  <div>
    <div sec:authorize="!hasRole('USER')">
      <a href="/login">Войти</a>
    </div>
    <div sec:authorize="hasRole('USER')">
      <img th:src="@{${avatar}}" class="avatar"/>
      <a href="/logout">Выйти</a>
    </div>
  </div>
</div>
<div class="main-padding">
  <h3>Описание</h3>
  <p class="rule">
    Самой известной версией гексогональных шахмат являются шахматы Глинского. Однако они содержат массу недостатков.
    Чтобы их исправить В. Трубицыным был разработан в 1997 году гексофен.
    Были изменены ходы пешки, начальная расстановка и нотация для шестиугольной доски.
    Вдохновившись изменениями в механике игры, я решил посвятить проект гексофену.
  </p>
</div>
</body>
</html>