<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>Гексофен</title>
  <link rel='stylesheet' href='/css/styles.css'>
  <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico" />
</head>
<body>
<div class="topnav">
  <div>
    <a class="active" href="/">Главная</a>
    <a href="/waiting">Игра</a>
    <a href="/rating">Рейтинг</a>
    <a href="/profile">Профиль</a>
    <a href="/about">О проекте</a>
  </div>
  <div>
    <div sec:authorize="!hasRole('USER')">
      <a href="/login">Войти</a>
    </div>
    <div sec:authorize="hasRole('USER')">
      <img th:src="@{${avatar}}" class="avatar"/>
      <a href="/logout">Выйти</a>
    </div>
  </div>
</div>
<div class="main-padding">
  <h3>Правила</h3>
  <p class="rule">
    Игра ведётся на равносторонней шестиугольной доске, разделённой на 91 шестиугольное поле.
    Поля раскрашены в три цвета. Роль горизонталей и вертикалей на доске выполняют ряды полей,
    соприкасающихся сторонами. Роль диагоналей — ряды полей одного цвета (соседние поля диагонали не соприкасаются, между ними находится общая сторона двух соседних полей).
  </p>
  <p class="rule">
    В гексофене применяется своя универсальная система записи партий АСЕК (читается АЦЕК). Систему координат можно видеть на иллюстрации.
    Доска мысленно делится на три сектора, имеющих форму ромба: нижний левый, верхний и нижний правый. Они обозначаются буквами A, C и E соответственно. Буквенные обозначения ставятся рядом с внутренними углами соответствующих секторов.
    Поля на сторонах доски помечаются цифровыми координатами: от 0 до 5. Нулевую координату имеют поля, находящиеся на стыке секторов, координата увеличивается при движении от края сектора к центральному углу.
    Поле доски обозначается тремя знаками: буквой, обозначающей сектор, и двумя цифровыми координатами в пределах этого сектора, первая — левая от буквы, вторая — правая от буквы. Например, угловые ячейки доски обозначаются так: а55, a05, с55, c05, е55, e05.
  </p>
  <p class="rule">
    Для упрощения фигуры обозначаются в виде абстрактных геометрических символов. Аналогично классическим шахматам, в игре присутствуют ферзь, король, ладья, слон, конь и пешка.
    Ниже приведены ходы всех фигур.
  </p>
  <div>
    <div style="width: 100%; height: 1px; clear:both;"></div>
    <div class="rule-img">
      <img th:src="@{/img/rules/pawn.jpg}">
      <p class="rule-label">Пешка</p>
    </div>
    <div class="rule-img">
      <img th:src="@{/img/rules/bishop.jpg}">
      <p class="rule-label">Слон</p>
    </div>
    <div class="rule-img">
      <img th:src="@{/img/rules/knight.jpg}">
      <p class="rule-label">Конь</p>
    </div>
    <div class="rule-img">
      <img th:src="@{/img/rules/rook.jpg}">
      <p class="rule-label">Ладья</p>
    </div>
    <div class="rule-img">
      <img th:src="@{/img/rules/queen.jpg}">
      <p class="rule-label">Ферзь</p>
    </div>
    <div class="rule-img">
      <img th:src="@{/img/rules/king.jpg}">
      <p class="rule-label">Король</p>
    </div>
    <div style="width: 100%; height: 1px; clear:both;"></div>
  </div>
  <p class="rule">
    Пешка может ходить на 2 клетки, только если она еще не совершала никаких действий. Рокировка отсутствует.
    Если король стоит под ударом фигуры противника, то игроку поставлен шах. Игра заканчивается, когда игрок не может сделать ход при котором его король выйдет из-под удара.
    Игрок может преждевременно сдаться или договориться с другим противником о ничье, если игра зашла в тупик (например, на поле осталось 2 короля).
  </p>
</div>
</body>
</html>