<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <title>Вход</title>
  <link rel='stylesheet' href='/css/styles.css'>
</head>
<body>
<div class="login">
  <div class="login-screen">
    <div class="app-title">
      <h1>Вход</h1>
    </div>

    <div id="login-error-message" class="error"></div>
    <form id="form" th:action="@{/login}" method="post" class="login-form">
      <div class="control-group">
        <input type="text" class="login-field" value="" placeholder="Логин" id="username" name="username">
        <label class="login-field-icon fui-user" for="username"></label>
      </div>

      <div class="control-group">
        <input type="password" class="login-field" value="" placeholder="Пароль" id="password" name="password">
        <label class="login-field-icon fui-lock" for="password"></label>
      </div>

      <a class="btn btn-login btn-primary btn-large btn-block" href="javascript:;" onclick="document.getElementById('form').submit()">Войти</a>
      <a class="login-link" href="/registration">Зарегистрироваться</a>
    </form>
  </div>
</div>
<script src='/js/login.js'></script>
</body>
</html>